

.logo {
    width: 60%;
    height: auto;
    margin-top: 35px;
    margin-left: 20px;
    object-fit: contain;
}

.Header {
    /* margin-top: 25px; */
    width: 100%;
    /* margin: 10px; */
    background-color: #1A1A1A;
    color:white;
}

.Header p {
    margin-top: 10px;
}

.Profile {
    width: 245px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color:white;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProfileContent {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.pfp img {
    width: 60px; /* Adjust image size */
    height: 60px;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image fits well */
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.AppContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    background-color: #0D0D0D;
}

.HeaderProfile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PageContent {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex: 1;
}
